{{> header_user}}
  <div class="main">
    <h1>Register Cafe</h1>
    <form name = "registerCafe" action="/add-cafe" method ="post">
    <div class="edit-line">
      <div class="edit-line-left">
        <h2>Cafe Name</h2>
      </div>
      <div class="edit-line-right">
        <input name= "name" type="text" class="text-answer" placeholder="" />
      </div>
    </div>
    <div class="edit-line">
      <div class="edit-line-left">
        <h2>Cafe Bio</h2>
      </div>
      <div class="edit-line-right">
        <input name= "bio" type="text" class="text-answer" id="edit-bio" placeholder="" />
      </div>
    </div>
    <div class="edit-line">
      <div class="edit-line-left">
        <h2>DTI Number</h2>
      </div>
      <div name="dti" class="edit-line-right">
        <input type="text" class="text-answer" placeholder="" />
      </div>
    </div>
    <div class="edit-line">
      <div class="edit-line-left">
        <h2>Add Location Image</h2>
      </div>
      <div class="edit-line-right">
        <input name= "image"type="text" class="text-answer" placeholder="" />
      </div>
    </div>
    <div class="edit-line">
      <div class="edit-line-left">
      </div>
      <div class="edit-line-right">
        <a href="profile_user">
          <button class="edit-button">
            Add Cafe
          </button>
          </form>
        </a>
      </div>
    </div>
  </div>