<div class="document">
    <img src="Photos/logo_notext.png" />
    <h2>Login</h2>
    <div class="login-box">
        <form name="body_home_user" action="body_home_user" method="post">
            <div class="login-box-label-container">
                <label>Username</label>
                <input name="user" type="text" class="text-answer" placeholder="Username" />
            </div>
            <div class="login-box-label-container">
                <label>Password</label>
                <input name="pass" type="password" class="text-answer" />
            </div>
            <button class="button" type="submit">Login</button>
        </form>

        <a href="register" class="button">Register User</a>
    </div>
</div>
