  <div class="document">
    <img src="Photos/logo_notext.png" />
      <h2>Register New User</h2>
      <div class="login-box">
      <form name = "register" action="/submitForm" method ="post">
      <div class="login-box-label-container">
        <label>Username</label>
        <input name="inputUsername" type="text" class="text-answer" placeholder="Username" />
      </div>
      <div class="login-box-label-container">
        <label>Email</label>
        <input name="inputEmail" type="text" class="text-answer" placeholder="Email" />
      </div>
      <div class="login-box-label-container">
        <label>Password</label>
        <input name="inputPassword" type="password" class="text-answer"/>
      </div>
      <div class="login-box-label-container">
        <label>Re-enter Password</label>
        <input name="verify" type="password" class="text-answer"/>
      </div>
        <button class="button" type = "submit">
          Register New User
        </button>
      </form>
    </div>
  </div>